body {
  background-color: rgb(186, 130, 238);
}

#header-main {
  font-family: Marker Felt, fantasy;
  color: yellow;
  font-size: 60px;
  text-align: center;
  text-shadow: -2px 0 blue, 0 1px blue, 1px 0 blue, 0 -2px blue;
}

#new-fokemon-form {
}

.index-container {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background-color: gray;
  width: 25%;
  justify-content: center;
  padding: 20px;
}

.card #avatar {
  width: 25%;
}
