body {
  background-color: rgb(186, 130, 238);
}

#header-main {
  font-family: Marker Felt, fantasy;
  color: yellow;
  font-size: 60px;
  text-align: center;
  text-shadow: -2px 0 blue, 0 1px blue, 1px 0 blue, 0 -2px blue;
}

#new-fokemon-form {
  display: inline-grid;
  background-color: gray;
  border-color: black;
  border-width: thick;
  padding: 5px;
}

#create-form-container {
  display: inline-grid;
  width: 25%;
  border: thick;
  border-color: black;
  border-style: solid;
  padding: 5px;
  float: left;
  box-sizing: border-box;
  background-color: gray;
  font-weight: ;
}

.index-container {
  grid-column-gap: 20px;
  padding: 20px;
}

/* .card {
  background-color: gray;
  width: 25%;
  justify-content: center;
  padding: 20px;
  display: inline-grid;
} */

.card #avatar {
  justify-self: center;
  height: 12rem;
  width: 75%;
  padding: 10px;
}

div #fokemon-name {
  height: 10px;
  background-color: yellow;
  color: aliceblue;
  font-weight: 500;
}

.card {
  text-align: center;
  border: yellow solid 3px;
  border-radius: 10px;
  width: 20%;
  height: 100%;
  display: inline-grid;
  grid-template-rows: 100px, 30px;
  margin: 1rem 2rem;
  box-shadow: 4px 5px black;
  background-color: gray;
}

.delete_button {
  width: fit-content;
  color: rgb(187, 36, 36);
  background-color: black;
  font-weight: bold;
  border-radius: 10px;
  border-color: rgb(187, 36, 36);
}

.delete_button:hover {
  color: black;
  background-color: red;
}

.train_button {
  width: fit-content;
  color: white;
  background-color: green;
  font-weight: bold;
  border-radius: 10px;
  border-color: white;
}

.train_button:hover {
  color: green;
  background-color: white;
}

#training-field-container {
  display: grid;
  background-color: black;
  height: 330px;
  width: 75%;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  border-style: double;
  border-width: 5px;
  border-color: yellow;
  color: white;
}

#trainer-name {
  align-self: center;
  width: fit-content;
  height: fit-content;
  display: grid;
  float: left;
  margin: 0px auto;
  font-size: larger;
  position: relative;
  background-color: green;
  color: white;
  font-weight: bolder;
}

#training-field-header {
  height: fit-content;
  width: 100;
  background-color: gray;
  font-size: 45px;
  text-align: center;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

#train-button {
  align-self: center;
  width: fit-content;
  height: fit-content;
  display: grid;
  float: left;
  margin: 0px auto;
  font-size: larger;
  position: relative;
  background-color: green;
  color: white;
  font-weight: bolder;
}

#save-button {
  align-self: center;
  width: fit-content;
  height: fit-content;
  display: grid;
  float: left;
  margin: 0px auto;
  font-size: larger;
  position: relative;
  background-color: rgb(73, 73, 235);
  color: white;
  font-weight: bolder;
}

#battle-start-button {
  align-self: center;
  width: fit-content;
  height: fit-content;
  display: grid;
  float: left;
  margin: 0px auto;
  font-size: larger;
  position: relative;
  background-color: green;
  color: white;
  font-weight: bolder;
}

/* .something{
    width: 940px;  
   height: 262px; 
   background-color: #220000; 
   position: absolute;
   bottom: 0 ;
   left: 50%;
   margin-left: -470px; 
  } */
/* this is css that pops up a window in the middle of the screen overtope of everything else */
