body {
  background-color: rgb(186, 130, 238);
}

#header-main {
  font-family: Marker Felt, fantasy;
  color: yellow;
  font-size: 60px;
  text-align: center;
  text-shadow: -2px 0 blue, 0 1px blue, 1px 0 blue, 0 -2px blue;
}

#new-fokemon-form {
  display: inline-grid;
  background-color: gray;
  border-color: black;
  border-width: thick;
  padding: 5px;
}

#create-form-container {
  display: inline-grid;
  width: 25%;
  border: thick;
  border-color: black;
  border-style: solid;
  padding: 5px;
  float: left;
  box-sizing: border-box;
  background-color: gray;
  font-weight: ;
}

.index-container {
  grid-column-gap: 20px;
  padding: 20px;
}

/* .card {
  background-color: gray;
  width: 25%;
  justify-content: center;
  padding: 20px;
  display: inline-grid;
} */

.card #avatar {
  justify-self: center;
  height: 12rem;
  width: 75%;
  padding: 10px;
}

.card #fokemon-name {
  height: 10px;
  background-color: yellow;
  color: aliceblue;
  font-weight: 500;
}

.card {
  text-align: center;
  border: yellow solid 3px;
  border-radius: 10px;
  width: 20%;
  height: 100%;
  display: inline-grid;
  grid-template-rows: 100px, 30px;
  margin: 1rem 2rem;
  box-shadow: 4px 5px black;
  background-color: gray;
}

#battlfield-container {
  display: inline-grid;
  background-color: black;
  height: 330px;
  width: 75%;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  border-style: double;
  border-width: 5px;
  border-color: yellow;
}

#delete_button {
  width: 25%;
  color: red;
  background-color: black;
  font-weight: bold;
}

#delete_button:hover {
  color: black;
  background-color: red;
}
